- if current_user.admin? || current_user.id == user.id
  = button_to "Edit Pirate",
    edit_user_path(user),
    method: :get,
    class: "edit"
- if current_user.admin? && current_user != user
  = button_to "Delete Pirate",
    user_path(user),
    method: :delete,
    class: "delete",
    data: { confirm: "Are you sure (action is permanent)?" }
