@import url("https://fonts.googleapis.com/css?family=Oleo+Script:400|Open+Sans:300,300italic,600,600italic,800");

@import "settings";
/*********/
/* Body
/*********/
body {
  background-color:		$bkg-green;
  background-image:		-moz-linear-gradient($gradient-specs),	$page-bkg;
  background-image:		-webkit-linear-gradient($gradient-specs), $page-bkg;
  background-image:		-o-linear-gradient($gradient-specs), $page-bkg;
  background-image:		-ms-linear-gradient($gradient-specs), $page-bkg;
  background-image:		linear-gradient($gradient-specs), $page-bkg;
  background-position:	top left, top left;
  background-repeat:	repeat-y;
  background-size:		 100% 100%, auto;

}

body,input,select,textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: $basic-font-size;
  color: $basic-font-color;
  font-weight: 300;
}

/**********/
/* Header
/**********/
header {
  .container {
    margin-bottom: 0;

    margin-top:   1rem;
    padding-left: 1rem;

    @media ($bp-larger-than-mobile) { // 400px
      margin-top:   1rem;
      padding-left: 1rem;
    }
    @media ($bp-larger-than-phablet) { // 550px
      margin-top:   2rem;
      padding-left: 2rem;
    }
  }

  .logo {
    color: $text-color;
    margin-bottom: 0;
    border-radius: $border-radius;
    font-family: 'Open Sans', sans-serif;
    // letter-spacing: 1rem;

    font-size: $logo-font-size;
    padding-bottom: .5rem;
    @media ($bp-larger-than-mobile) { // 400px
      font-size: $logo-font-size * 1.3;
      padding-bottom: 0;
    }

    $logo-size-mobile: 72px;
    $logo-size-other: 9.5rem;
    img {
      vertical-align: middle;

      width: $logo-size-mobile;
      @media ($bp-larger-than-mobile) { // 400px
        width: $logo-size-other;
      }
    }
  }
}

/********/
/* Nav
/********/
nav.menu {
  select {
    font-size: $nav-select-font-size;
  }

  ul {
    margin-bottom: 0;
    display: inline-flex;

    li {
      float: left;
      padding-left: 1.6rem;
      list-style: none;
      margin-bottom: 0;
    }

    li.active a,
    li.active span {
      background: $nav-button-bkg;
    }

    li.home-button a {
      background: $nav-button-bkg;
      color: $text-color;
      padding: .2rem .4rem;
    }

    li,
    li a,
    li span {
      font-weight: 800;
      color: $text-color;
      text-decoration: none;
      border-radius: 6px;
      -moz-transition: background-color .25s ease-in-out;
      -webkit-transition: background-color .25s ease-in-out;
      -o-transition: background-color .25s ease-in-out;
      -ms-transition: background-color .25s ease-in-out;
      transition: background-color .25s ease-in-out;
    }

    li > ul {
      display: none;
    }

    li:hover a,
    li:hover span {
      background: $nav-button-bkg;
    }
  }
}

/**********/
/* Row adjustments
/**********/
.row {
  min-height: $nav-row-height;
}

.row.flex, .row .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .right {
    margin-right: 2rem;
    margin-left: auto;
  }
}

/**********/
/* Section
/**********/
section {
  color: $section-font-color;
}

/**********/
/* Article
/**********/
article, footer {
  h1, h2, h3 {
    color: $main-text-color;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 1rem;
    line-height: 100%;
  }

  h1 {
    font-size: 4rem;
    text-align: center;
    margin-top: 0;
  }
  h2 { font-size: 1.95rem; }
  h3 { font-size: 1.6rem; }

  p {margin-bottom: 1.5rem; }
  p:last-of-type { margin-bottom: 0; }

  p.note {
    font-size: 1.5rem;
    color: $note-color;
    float: right;
    border-style: solid;
    border-width: thin;
    padding: .5rem;
  }

  p.user-operations, p.gig-operations {
    a {
      margin-right: 1.7rem;
    }
  }

  label.required {
    abbr {
      color: $alert-color;
    }
  }
}

article {
  background-color: $article-bkg-color;
  border-radius: $border-radius;
  box-shadow: 3px 3px 5px 0px Black;
  margin-bottom: 1rem;

  padding: .5rem;
  font-size: 2rem;
  @media ($bp-larger-than-phablet) { // 550px
    padding: 2rem;
    font-size: 1.8rem;
  }

  ul {
    margin: .5rem 0 0 3rem;  // margins collapse into each other
    padding: 0 0 1rem 0;     // padding is always there
  }

  li {
    list-style: disc;
    line-height: 125%;
    margin: 0 3rem;
  }
}

article.unpublished {
  background-color: $unpublished-color;
}

article.admin {
  background-color: $admin-color;
}

.main-content article {
  font-size: 1.8rem;
}

.details article {
  padding: 0;
  margin-bottom: 1rem;
  font-size: 1.4rem;

  a:link,
  a:visited,
  a:hover,
  a:active {
    text-decoration: none;
    color: inherit;
  }
}

/***********/
/* Dropotron
/***********/
.dropotron {
  max-height: $menu-max-height;
  overflow-y: scroll;
  background: $article-bkg-color;
  letter-spacing: 0.025em;
  color: $basic-font-color;
  text-decoration: none;
  border-radius: 6px;
  padding: 0.25em 0;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1), 0 0.25em 0.25em 0.1em rgba(0,0,0,0.025);
  margin-top: calc(-0.75em + 1px);
  margin-left: -1px;

  li {
    border-top: solid 1px $menu-bkg-color;
    list-style: none;
    font-weight: 600;
    margin-bottom: 0;

    line-height: 2rem;
    font-size: 1rem;
    @media ($bp-larger-than-phablet) {
      line-height: 3rem;
      font-size: 1.6rem;
    }

    a.sign-out {
      @extend .add;
      color: $alert-color;
    }  }

  li.gigs {
    border-top-style: none;
    line-height: 2rem;
    font-size: 1.5rem;
    max-width: 40rem;
  }

  .informational {
    margin-left: .8rem;
    font-weight: 800;
    &::after { content: ":"; }
  }

  li:first-child {
    border-top: 0;
  }

  li > a,
  li > span {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 0 1.5rem;
  }

  li > a:hover,
  li > span:hover,
  li.active > a,
  li.active > span {
    background: $menu-bkg-color;
  }

  .level-0 {
    font-size: 0.8em;
    margin-left: 1.5em;
    margin-top: 0;
  }

  .level-0:before {
    content: '';
    position: absolute;
    top: -0.5em;
    left: 1em;
    border-bottom: solid 0.75em White;
    border-left: solid 0.75em transparent;
    border-right: solid 0.75em transparent;
    z-index: 1;
  }
}

/*********/
/* Footer
/*********/
footer {
  margin-top: 0;
  a {
    color: inherit;
  }

  li {
    list-style: none;
  }

  .copyright, .visit-count {
    color: $copyright-color;
    font-size: 1.4rem;

    a {
      color: inherit;
    }
  }
}

/*********/
/* Image
/*********/
.image {
  display: inline-block;
  outline: 0;
}

img.image.adjustable {
  display: block;
  width:95%;
  margin-top: 1rem;
}

.image img {
  display: block;
  width: 100%;
  border-radius: 8px;
}

.image.featured {
  display: block;
  width: 100%;
  margin: 0 0 .1rem 0;
}

.image.two-thirds {
  max-width: 66%;
}

.image.left {
  float: left;
  margin-right: 2rem;
}

.image.right {
  float: right;
  margin-left: 2rem;
}

.image.centered {
  display: block;
  margin-top: .5rem;
}

.image.bio {
  width: 300px;
}

.image.bio-small {
  width: 200px;
}

.image.separator {
  max-height: 13rem;
}

.image.home-banner {
  width: 90%;
}

.image.thumbnail {
  width: 120px;
}

/**********/
/* Widgets
/**********/
.widget.friend-list {
  color: $text-color;
  font-size: 1.1rem;
  font-weight: 600;
  li { margin: 0; }
}

.widget.contact {
  font-size: $contact-font-size;
  color: $contact-font-color;
  font-weight: 600;

  h2 {
    font-weight: 800;
  }

  .facebook-tile {
    width: 4rem;
    display: inline;
  }

  .label, .facebook {
    display: flex;
    align-items: center;
    margin-left: 1rem;
  }

  .email {
    margin-top: 1rem;
  }
}

/**********/
/* General utility classes
/**********/
.container {
  margin: 1rem;
  width: 100%;
  @media ($bp-larger-than-phablet) { // 550px
    margin: 2rem;
    width: 95%;
  }
}

.simple_form {
  .error-notification {
    color: $alert-color;
  }
  // disable simple-form errors in favor of explicit "top of container" errors
  .error{
    display: none;
  }

  #gig_note, #gig_name, #gig_location { width: 100%; }
  #gig_days { width: 6.5rem; }

  #user_name, #user_tone_name { width: 75%; }
  #user_email { width: 50% }

  .form-actions {
    .btn, a  {
      margin-right: 1.4rem;
    }
  }
}

.flash {
  font-weight: 600;
  background-color: $section-bkg-color;
  color: $main-text-color;
  border-radius: $border-radius;
  float: none;

  ul, li {
    margin-bottom: 0;
  }

  li {
    list-style-type: none;
    margin-left: .5rem;
  }

  .alert   { color: $alert-color; }
  .notice  { color: $notice-color; }
  .success { color: $success-color; }
}

.content {
  margin: 0 .5rem;
  padding: 1rem 1rem ;
}

.form-error{
  color: $alert-color;
  ul {
    color: $alert-color;
    margin-left: 2em;
    font-weight: normal;
  }
}

.errors {
  color: $alert-color;
  margin: 0 0 2em 0;
}

.expired {
  text-decoration: line-through;
}

/*
TODO 8/20/2015: Current status: hints are hidden, but have
not got the incantations to make them show.
 */
$hint-bkg-color: Cornsilk;
.hint {
  background: $hint-bkg-color;
  border-radius: .3rem .3rem .3rem .3rem;
  color: $main-text-color;
  margin-left: 8px;
  padding: 1px 6px;
  z-index: 999;        // hints stay above all other elements
  position: absolute;  // allows proper formatting if hint is two lines
  display: none;
}

form .hint:hover + .hint  { display: inline; }
form .hint:focus + .hint  { display: inline; }
form input:required:valid + .hint {background: #28921f;} /* change form hint color when valid */
.contact-form input:required:valid + .hint::before {color:#28921f;} /* change form hint arrow color when valid */

.main-content, .details {
  color: $main-text-color;
}

// Schedule box (main page)
$schedule-box-margin: 0.3rem;
.schedule {
  hr {
    margin: .5rem 0;
  }

  h3 {
    margin-left: $schedule-box-margin;
  }

  li {
    margin: 0
  }

  ul {
    color: $main-text-color;
    font-weight: normal;
    list-style: disc;
    margin: 0.5rem 0 1.5rem $schedule-box-margin;
    text-align: left;
    line-height: 115%;

    font-size: 1.3rem;
    @media ($bp-larger-than-phablet) { // 550px
      font-size: 1.4rem;
    }

    @media ($bp-larger-than-tablet) { // 550px
      font-size: 1.6rem;
    }

    li {
      margin-bottom: 0.75rem;
      margin-right: 0;
      span.date {
        font-weight: 600;
      }
    }
  }
}

.schedule.scroll {
  border: 0.1rem solid Black;
  height: 56rem;
  overflow-y: scroll;
  overflow-x: hidden;

  ul { margin-bottom: 0; }
}

.user-information, .schedule-information {
  column-count: 1;
  -webkit-column-count: 1;
  -moz-column-count: 1;
  @media ($bp-larger-than-phablet) { // 550px
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
  }

  p {
    margin-bottom: 0;
  }

  .heading {
    font-weight: 600;
  }

  .user-admin {
    margin: .2rem .2rem;
    font-weight: 600;
  }
}

.video-list {
  tr {
    vertical-align: "middle";
  }

  /* first column pictures */
  td.thumbnail {
    padding: 0;
    vertical-align: middle;
    text-align: center;
  }
}

//  Simple_form styling
form {
  margin-bottom: 0;
}

.simple-form {
  .btn {
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 1em;
  }

  abbr {
    text-decoration: none !important;
    border-bottom: none;
    color: Maroon;
  }

  input {
    margin-bottom: 0;
  }

  input[type='checkbox'] {
    margin-right: .5rem;
  }
}

// Rails button_to styling
.button_to {
  display: inline;

  input {
    margin-top: 1rem;
    margin-bottom: 0;
    margin-left: 1.5em;
    background-color: $article-bkg-color;
    height: $button-height;
    line-height: $button-height;
    padding: $button-left-right-pad;
  }

  .add, .copy, .misc {
    background: $article-bkg-color;
    color: $link-color;
    padding: 0 1.5rem;
    margin: .2rem .2rem .2rem 0;
  }

  .delete {
    color: $alert-color;
    float: right;
  }
}
