@import url("https://fonts.googleapis.com/css?family=Oleo+Script:400|Open+Sans:300,300italic,600,600italic,800");

@import "settings";
/*********/
/* Body
/*********/
body {
  background-color:		$bkg-green;
  background-image:		-moz-linear-gradient($gradient-specs),	$page-bkg;
  background-image:		-webkit-linear-gradient($gradient-specs), $page-bkg;
  background-image:		-o-linear-gradient($gradient-specs), $page-bkg;
  background-image:		-ms-linear-gradient($gradient-specs), $page-bkg;
  background-image:		linear-gradient($gradient-specs), $page-bkg;
  background-position:	top left, top left;
  background-repeat:	repeat-y;
  background-size:		 100% 100%, auto;

}

body,input,select,textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: $basic-font-size;
  color: $basic-font-color;
  font-weight: 300;
}

/**********/
/* Header */
/**********/
header {
  .container {
    margin-bottom: 0;

    margin-top:   1rem;
    padding-left: 1rem;

    @media (#{$bp-larger-than-mobile}) { // 400px
      margin-top:   1rem;
      padding-left: 1rem;
    }
    @media (#{$bp-larger-than-phablet}) { // 550px
      margin-top:   2rem;
      padding-left: 2rem;
    }
  }

  .row { min-height: $nav-row-height; }

  .logo {
    color: $text-color;
    margin-bottom: 0;
    border-radius: $border-radius;
    font-family: 'Oleo Script', serif;
    letter-spacing: .1rem;

    font-size: $logo-font-size;
    padding-bottom: .5rem;
    @media (#{$bp-larger-than-mobile}) { // 400px
      font-size: $logo-font-size * 1.75;
      padding-bottom: 0;
    }

    $logo-size-mobile: 72px;
    $logo-size-other: 9.5rem;
    img {
      vertical-align: middle;

      width: $logo-size-mobile;
      @media (#{$bp-larger-than-mobile}) { // 400px
        width: $logo-size-other;
      }
    }
  }
}

/********/
/* Nav
/********/
nav {
  font-size: 1.0rem;

  ul {
    margin-bottom: 0;

    li {
      float: left;
      padding-left: 1.6rem;
      list-style: none;
      margin-bottom: 0;
    }

    // TODO: either user this .active class or delete it
    li.active a,
    li.active span {
      background: $nav-button-bkg;
    }

    li.link_button a {
      background: $nav-button-bkg;
      color: $text-color;
      padding: .2rem .4rem;
    }

    @media (#{$bp-larger-than-mobile}) { // 400px
      li { margin: 0 0 1rem 0; }
    }

    @media (#{$bp-larger-than-phablet}) { // 550px
      font-size: 1.6rem;

      li {
        padding-left: 3rem;
        margin-bottom: 1rem;
      }

      li.link_button a {
        padding: .8rem 1.5rem;
      }
    }

    @media (#{$bp-larger-than-tablet}) { // 750px
      li { line-height: $nav-row-height; }
      li { margin-left: -10px; }
    }

    li,
    li a,
    li span {
      font-weight: 800;
      //letter-spacing: 0.025em;
      color: $text-color;
      text-decoration: none;
      border-radius: 6px;
      // padding: 0.5em 1em 0.5em 1em;
      -moz-transition: background-color .25s ease-in-out;
      -webkit-transition: background-color .25s ease-in-out;
      -o-transition: background-color .25s ease-in-out;
      -ms-transition: background-color .25s ease-in-out;
      transition: background-color .25s ease-in-out;
    }

    li > ul {
      display: none;
    }

    li:hover a,
    li:hover span {
      background: $nav-button-bkg;
    }
  }
}

/**********/
/* Section
/**********/
section {
  color: $section-font-color;
}

/**********/
/* Article
/**********/
article, footer {
  h1, h2, h3 {
    color: $main-text-color;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 1rem;
    line-height: 100%;
  }

  h1 {
    font-size: 4rem;
    text-align: center;
    margin-top: 0;
  }
  h2 { font-size: 1.95rem; }
  h3 { font-size: 1.6rem; }

  p {margin-bottom: 1.5rem; }
  p:last-of-type { margin-bottom: 0; }
}

article {
  background-color: $article-bkg-color;
  border-radius: $border-radius;
  box-shadow: 3px 3px 5px 0px Black;
  margin-bottom: 1rem;

  padding: .5rem;
  font-size: 2rem;
  @media (#{$bp-larger-than-phablet}) { // 550px
    padding: 2rem;
    font-size: 1.8rem;
  }

  ul {
    margin: .5rem 0 0 3rem;  // margins collapse into each other
    padding: 0 0 1rem 0;     // padding is always there
  }

  li {
    list-style: disc;
    line-height: 125%;
    margin: 0 3rem;
  }
}

.main-content article {
  font-size: 1.8rem;
}

.details article {
  padding: 0;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

/***********/
/* Dropotron
/***********/
.dropotron {
  background: $text-color;
  letter-spacing: 0.025em;
  color: $basic-font-color;
  text-decoration: none;
  border-radius: 6px;
  padding: 0.25em 0;
  // min-width: 27rem;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1), 0 0.25em 0.25em 0.1em rgba(0,0,0,0.025);
  margin-top: calc(-0.75em + 1px);
  margin-left: -1px;

  li {
    border-top: solid 1px $menu-bkg-color;
    list-style: none;
    font-weight: 600;
    margin-bottom: 0;

    line-height: 2rem;
    font-size: 1rem;
    @media (#{$bp-larger-than-phablet}) {
      line-height: 3rem;
      font-size: 1.6rem;
    }
  }

  .informational {
    font-weight: 800;
    &::after { content: ":"; }
  }

  li:first-child {
    border-top: 0;
  }

  li > a,
  li > span {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 0 1.5rem;
  }

  li > a:hover,
  li > span:hover,
  li.active > a,
  li.active > span {
    background: $menu-bkg-color;
  }

  .level-0 {
    font-size: 0.8em;
    margin-left: 1.5em;
    margin-top: 0;
  }

  .level-0:before {
    content: '';
    position: absolute;
    top: -0.5em;
    left: 1em;
    border-bottom: solid 0.75em White;
    border-left: solid 0.75em transparent;
    border-right: solid 0.75em transparent;
    z-index: 1;
  }
}

/*********/
/* Footer
/*********/
footer {
  margin-top: 0;
  a {
    color: inherit;
  }

  li {
    list-style: none;
  }
}

.copyright {
  color: $copyright-color;
  font-size: 1.4rem;

  a {
    color: inherit;
  }
}

/********/
/* Icons
/********/
.icon {
  position: relative;
  text-decoration: none;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.icon > .label {
  display: none;
}

/*********/
/* Image
/*********/
.image {
  display: inline-block;
  outline: 0;
}

img.image.adjustable {
  display: block;
  width:95%;
}

.image img {
  display: block;
  width: 100%;
  border-radius: 8px;
}

.image.featured {
  display: block;
  width: 100%;
  margin: 0 0 .1rem 0;
}

.image.two-thirds {
  max-width: 66%;
}

.image.left {
  float: left;
  margin: 0 2rem 2rem 0;
}

.image.right {
  float: right;
  margin: 0 2rem 2rem 0;
}

.image.centered {
  display: block;
  margin: 0 0 .5rem 0;
  margin: auto auto;
}

.image.centered img {
  margin: 0 auto;
  width: auto;
}


/**********/
/* Widgets
/**********/
.widget.friend-list {
  color: $text-color;
  font-size: 1.1rem;
  li { margin: 0; }
}

.widget.contact {
  color: $text-color;
  font-weight: 800;
}

.widget.contact ul {
  //overflow: hidden;
  position: relative;
  left: -4px;
  top: 4px;
  margin-bottom: 0.5rem;
}

.widget.contact ul li {
  display: inline-block;
  margin-right: 0.25em;
}

.widget.contact ul li a {
  display: inline-block;
  width: 4.5rem;
  height: 4.5rem;
  text-align: center;
  line-height: 4.5rem;
  border-radius: 0.6rem;
  outline: 0;
  opacity: 0.75;
  text-decoration: none;
  background: #222222;
  -moz-transition: background-color .25s ease-in-out;
  -webkit-transition: background-color .25s ease-in-out;
  -o-transition: background-color .25s ease-in-out;
  -ms-transition: background-color .25s ease-in-out;
  transition: background-color .25s ease-in-out;
}

.widget.contact ul li a:before {
  color: #f3f3f3;
  font-size: 1.75em;
  line-height: 1.5em;
}

.widget.contact ul li a:hover {
  background: #444444;
}

.widget.contact ul li a:active {
  background: #666666;
}

/***********/
/* Wrappers    ??? Are these being used ???
/***********/
.banner-wrapper {
}

.main-wrapper {
  background: #fff;
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.05);
}

.footer-wrapper {
}

/**********/
/* General utility classes
/**********/
.container {
  margin-bottom: 1rem;
  width: 100%;
  @media (#{$bp-larger-than-phablet}) { // 550px
    margin-bottom: 2rem;
    width: 95%;
  }
}

.simple_form {
  .error_notification {
    color: red;
  }
  .error{
    color: red;
    font-weight: 600;
  }
}

.flash {
  font-weight: 600;
  background-color: $section-bkg-color;
  color: $main-text-color;
  border-radius: $border-radius;
  float: none;

  ul, li {
    margin-bottom: 0;
  }

  li {
    list-style-type: none;
    margin-left: .5rem;
  }

  .alert   { color: red; }
  .notice  { color: limegreen; }
  .success { color: green; }
}

.content {
  margin: 0 .5rem;
  padding: 1rem 1rem ;
}

.error_explanation {
  color: red;
  ul {
    color: red;
    margin-left: 2em;
    font-weight: normal;
  }
}

.errors {
  color: red;
  margin: 0 0 2em 0;
}

/*
  TODO 8/20/2015: Current status: hints are hidden, but have
  not got the incantations to make them show.
 */
$hint-bkg-color: Cornsilk;
.hint {
  background: $hint-bkg-color;
  border-radius: .3rem .3rem .3rem .3rem;
  color: $main-text-color;
  margin-left: 8px;
  padding: 1px 6px;
  z-index: 999;        // hints stay above all other elements
  position: absolute;  // allows proper formatting if hint is two lines
  display: none;
}

form .hint:hover + .hint  { display: inline; }
form .hint:focus + .hint  { display: inline; }
form input:required:valid + .hint {background: #28921f;} /* change form hint color when valid */
.contact_form input:required:valid + .hint::before {color:#28921f;} /* change form hint arrow color when valid */

.main-content, .details {
  color: $main-text-color;
}

// Schedule box (main page)
$schedule-box-margin: 0.3rem;
.schedule {
  h3 { margin-left: $schedule-box-margin; }
  .strike {
    text-decoration: line-through;
  }
  ul {
    color: $main-text-color;
    font-weight: normal;
    list-style: disc;
    margin: 0.5rem 0 1.5rem $schedule-box-margin;
    text-align: left;
    line-height: 115%;

    font-size: 1.3rem;
    @media (#{$bp-larger-than-phablet}) { // 550px
      font-size: 1.4rem;
    }
    @media (#{$bp-larger-than-tablet}) { // 550px
      font-size: 1.6rem;
    }

    li {
      margin-bottom: 0.75rem;
      margin-right: 0;
      span.date {
        font-weight: 600;
      }
    }
  }
  td, th {
    border-width: 1px;
    border-style: solid;
    padding: .5rem;
  }
}

.schedule.scroll {
  border: 0.1rem solid Black;
  height: 56rem;
  overflow-y: scroll;
  overflow-x: hidden;

  ul { margin-bottom: 0; }
}

.user-information {
  p {
    margin-bottom: 0;
  }
  .heading {
    font-weight: 600;
  }

  .user_admin {
    margin: .2rem .2rem;
    font-weight: 600;
  }
}

.video-list {
  tr {
    vertical-align: "middle";
  }

  /* first column pictures */
  td.thumbnail {
    padding: 0;
    vertical-align: middle;
    text-align: center;
  }
}

//  Simple_form styling
form {
  margin-bottom: 0;
}
.simple_form {
  .btn {
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 1em;
  }

  abbr {
    text-decoration: none !important;
    border-bottom: none;
    color: Maroon;
  }
  input {
    margin-bottom: 0;
  }
  input[type='checkbox'] {
    margin-right: .5rem;
  }
}

// Rails button_to styling
.button_to {
  display: inline;
  input {
    margin-top: 1rem;
    margin-bottom: 0;
    margin-left: 1.5em;
  }
  .edit {
  }
  .delete {
    color: red;
    float: right;
  }
}
